[submodule "packages/hungry-delete"]
	path = packages/hungry-delete
	url = https://github.com/nflath/hungry-delete.git
[submodule "packages/zenburn-emacs"]
	path = packages/zenburn-emacs
	url = https://github.com/benkwa/zenburn-emacs.git
[submodule "packages/zenburn-el"]
	path = packages/zenburn-el
	url = https://github.com/dbrock/zenburn-el.git
	branch = master
[submodule "packages/dropbox"]
	path = packages/dropbox
	url = https://github.com/pavpanchekha/dropbox.el.git

